a{all:unset;cursor:pointer;height:100%;width:100%;display:flex;justify-content:center}*{margin:0;padding:0;color:#faebd7}:root{font-family:system-ui,Avenir,Helvetica,Arial,sans-serif;background-color:#242424}#root{height:100vh}
